@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Custom properties */
:root {
    --clr-primary-red: hsl(0, 100%, 74%);
    --clr-primary-green: hsl(154, 59%, 51%);
    --clr-accent: hsl(248, 32%, 49%);
    --clr-neutral-dark: hsl(249, 10%, 26%);
    --clr-neutral-grayish: hsl(246, 25%, 77%);
    --clr-white: #fff;

    --fs-50px: 3.125rem;
    --fs-28px: 1.75rem;
    --fs-15px: 0.9375rem;
    --fs-14px: 0.875rem;
    --fs-11px: 0.6875rem;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    --border-radius-s: 0.3125rem;
    --border-radius-m: 0.625rem;

    --box-shadow: 0px 8px 0px hsla(0, 0%, 0%, 0.15);
}
.error-text,
.error-icon {
    display: none;
}

html {
    font-size: 16px;
    font-family: 'poppins', sans-serif;
}

#intro {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./images/bg-intro-mobile.png);
    background-color: hsl(0, 100%, 74%);
    padding: 100px 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    padding: 0 30px;
    max-width: 1300px;
    margin: 0 auto;
}

.left-col {
    flex: 1;
    margin-bottom: 50px;
}

.left-col h1 {
    color: var(--clr-white);
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: 2rem;
}
/* .description__heading h1{
    font-size: var(--fs-50px);
    font-weight: var(--fw-bold);
  } */

.left-col p {
    color: var(--clr-white);
    font-size: 1.3rem;
    line-height: 1.9rem;
}

.right-col {
    flex: 1;
}

.right-col .top-box {
    background-color: hsl(248, 32%, 49%);
    color: var(--clr-white);
    padding: 15px 90px;
    border-radius: 15px;
    box-shadow: 0 7px hsla(149, 10%, 26%, 0.404);
    margin-bottom: 30px;
}

.right-col .top-box {
    font-size: 1.3rem;
    line-height: 2.2rem;
}

.right-col .top-box p span {
    font-weight: 700;
}

.right-col .form-container {
    background-color: var(--clr-white);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 7px hsla(249, 10%, 26%, 0.404);
}

.field-group {
    position: relative;
    margin-bottom: 25px;
}

.right-col label {
    display: none;
}

.right-col input,
.right-col button[type=submit] {
    width: 100%;
    height: 60px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 1.3px soled hsl(246, 25%, 77%);
    padding-left: 20px;
    outline: none;
    color: hsl(249, 10%, 26%);
    font-family: 'Poppins', sans-serif;
    font-family: 1.1rem;
    font-weight: 600;
}

.right-col input:focus {
    border: 1.5px solid hsl(249, 10%, 26%);
}

.right-col input::placeholder {
    color: hsla(249, 10%, 26% 0.678);
    font-size: 1.1rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.right-col button[type=submit] {
    cursor: pointer;
    background-color: hsl(154, 59%, 51%);
    box-shadow: 0px 4px hsl(154, 56%, 44%);
    color: var(--clr-white);
    font-weight: 500;
    font-size: 1, 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 0;
    border: none;
}

.right-col button[type=submit]:hover {
    background-color: hsl(154, 73%, 65%);

}

.right-col .form-footer {
    margin-top: 10px;
    color: hsl(245, 25%, 77%);
}

.right-col .form-footer span {
    color: var(--clr-primary-red);
    font-weight: 700;
}

.error-text {
    text-align: right;
    bottom: 0;
    right: 0;
    font-size: .8rem;
    font-style: italic;
    color: var(--clr-primary-red);
    font-weight: 500;
}

.error-icon {
    position: absolute;
    top: 0;
    right: 20px;
    top: 28%;
}

.field-group.error .error-text,
.field-group.error .error-icon {
    display: block;

}

.field-group.error input {
    border: 2px solid var(--clr-primary-red);

}

@media only screen and (min-width:1000px) {
    #inreo {
        background-image: url(./images/bg-intro-desktop.png);
    }

    .container {
        flex-direction: row;
    }

    .left-col {
        text-align: left;
        padding-right: 50px;
    }

    .left-col h1 {
        font-size: 3.1rem;
        line-height: 3.5rem;
    }

    .left-col p {
        font-size: 1.1rem;
    }

    .right-col {
        max-width: 500px;
    }

    .right-col .top-box p {
        font-size: 1.1rem;
    }

    .right-col .top-box {
        padding: 20px;
    }

    .right-col .form-container {
        padding: 40px;
    }

    .right-col input,
    .right-col input::placeholder {
        font-size: 1.05rem;
    }

    .right-col .form-footer {
        margin-top: 20px;
        font-size: .7rem;
    }
}